/* Estilos base de la barra de navegación */
.nav {
    background-color: #1D1D1B;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: fixed; /* Cambia a fixed para que se quede en la parte superior */
    top: 0; /* Asegura que esté en la parte superior */
    left: 0; /* Asegura que esté alineado a la izquierda */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.navScrolled {
    background-color: #000; /* Color de fondo cuando el usuario hace scroll */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Agrega sombra cuando scrollea */
}

/* Estilos del logo */
.logo {
    margin-left: 2rem;
}

.logo img {
    height: 50px;
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1);
}

/* Estilos del menú de navegación */
.navBar {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #00FDFB;
    font-size: 1rem;
    position: relative;
    /* Ajuste para mantener flujo normal */
}

.navBarItem {
    padding: 1rem;
    margin: 2px;
    transition: transform 0.3s ease-in-out;
}

.navBarItem:hover {
    transform: scale(1.2);
    color: white;
}

.navBarLink {
    text-decoration: none;
    color: #00FDFB;
    transition: color 0.3s ease-in-out;
}

.navBarLink:hover {
    color: white;
}

/* Estilos del icono de carrito */
.cartLogo {
    margin-right: 2rem;
    position: relative; /* Añadido para el posicionamiento del contador */
}

.cartLogo img {
    height: 25px;
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.cartLogo img:hover {
    transform: scale(1.2);
}

/* Estilos del contador del carrito */
.cartCount {
    background-color: #ff0000; /* Color de fondo rojo para el contador */
    color: #ffffff; /* Color de texto blanco */
    border-radius: 50%; /* Forma circular */
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem; /* Tamaño de texto pequeño */
    position: absolute;
    top: -5px; /* Posición ajustada para que el contador esté en la esquina superior derecha */
    right: -5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}

/* Estilos del menú hamburguesa */
.burgerMenu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 1rem;
    z-index: 999;
}

.burgerLine {
    width: 25px;
    height: 3px;
    background-color: #00FDFB;
    margin: 4px;
    transition: all 0.3s ease;
}

.burgerLineOpen {
    transform: rotate(45deg);
}

/* Media query para pantallas pequeñas (max-width: 768px) */
@media (max-width: 768px) {
    .nav {
        flex-direction: row;
        align-items: center;
        height: auto;
        padding: 0.5rem 1rem;
    }

    .navBar {
        flex-direction: column;
        width: 100vw;
        position: absolute;
        top: 60px;
        right: -100%;
        background-color: #1D1D1B;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: right 0.3s ease, opacity 0.3s ease;
    }

    .navBar {
        display: flex;
        /* Mostrar el menú de navegación */
        position: relative;
        /* Volver a posición relativa para el flujo normal */
        justify-content: center;
        /* Centrar los enlaces */
        align-items: center;
        /* Alinear verticalmente con los iconos */
    }

    .navBarItem {
        padding: 1rem;
        /* Ajustar el espaciado */
        margin: 0;
        /* Eliminar margen para alinear con los iconos */
    }

    .logo,
    .cartLogo {
        display: flex;
        /* Asegurar que los iconos se alineen verticalmente */
        align-items: center;
        /* Alinear verticalmente con los enlaces */
    }
}