.card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #fdfafa;
  border-radius: 8px;
  overflow: hidden;
  width: 250px;
  text-align: center;
  box-shadow: 0px 1px 2px 0.5px black;
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del tamaño */
  margin-bottom: 16px; /* Añadido para asegurar espacio uniforme entre tarjetas */
}

.card:hover {
  transform: scale(1.05);
}

.cardImg {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 210px; /* Altura fija para mantener la consistencia */
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1; /* Permite que el contenido crezca para llenar el espacio disponible */
  padding: 10px; /* Espaciado interno consistente */
  min-height: 150px; /* Altura mínima para mantener la consistencia en las tarjetas */
}

.cardTitle, .cardText, .cardPrice {
  margin: 10px 0; /* Espaciado uniforme alrededor del contenido */
  overflow: hidden; /* Evita el desbordamiento de texto */
}

.cardTitle {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
}

.cardText {
  font-size: 0.9em;
  color: black;
  flex: 1; /* Permite que el texto ocupe el espacio disponible */
}

.cardPrice {
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

/******* ProductList *************/ 

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Tamaño fijo para las tarjetas */
  gap: 16px; /* Ajusta el espaciado entre tarjetas según sea necesario */
  justify-items: center;
  padding: 5px;
}

/* Media queries */
@media (max-width: 600px) {
  .productList {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 8px;
  }

  .card {
    width: 100%; /* Ajusta el ancho al 100% para pantallas pequeñas */
  }

  .cardTitle {
    font-size: 1em;
  }

  .cardText {
    font-size: 0.8em;
  }

  .cardPrice {
    font-size: 1em;
  }
}

@media (min-width: 601px) {
  .productList {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 12px;
  }

  .card {
    width: 90%; /* Mantén el ancho del 90% para pantallas medianas */
  }

  .cardTitle {
    font-size: 1.1em;
  }

  .cardText {
    font-size: 0.85em;
  }

  .cardPrice {
    font-size: 1.05em;
  }
}
