.cartContainer {
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #1D1D1B;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  padding: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cartContainer.show {
  right: 0;
}
.cartContent {
  display: flex;
  flex-direction: column;
  color: #00FDFB;
  height: 100%;
  justify-content: space-between;
}
.cartHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: #00FDFB;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.closeButton:hover {
  color: red;
}
.closeIcon {
  width: 24px;
  height: 24px;
}
.cartItems {
  flex: 1;
  overflow-y: auto;
}
.cartActions {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
}
.clearButton {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
