.section {
  padding: 20px;
  background-color: #EBEBEB;
}
.sectionTitle {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color:black;
}
.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}