.homeContainer {
  width: 100%;
  height: auto;
  /* Altura del banner */
  /*background-color: #00FCF9;*/
  /* Color de fondo mientras carga la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para la imagen */
.homeImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* Ajusta la imagen para cubrir el contenedor */
}

/* Media queries para ajustar el banner en pantallas más pequeñas */

@media (min-width: 768px) {
  .homeContainer {
    height: calc(100vh - 60px); /* Altura del banner para pantallas más grandes */
  }

  .homeImg {
    height: 100%; /* Cambia la altura para cubrir el contenedor */
  }
}