.homeContainer {
  width: 100%;
  background-color: #1D1D1B;
  height:calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
/* Estilos para la imagen */
.homeImg {
  width: 100vw;
  height: auto;
  object-fit: cover;
}
/* Media queries para ajustar el banner en pantallas más pequeñas */
@media (max-width: 600px) {
  .homeContainer {
    height: calc(100vh - 60px);
    max-width: 100%;
    background-color: #1D1D1B;
    margin-bottom: 3rem;
    /* Altura del banner para pantallas más chicas */
  }
  .homeImg {
    height: 100vh;
    object-fit: cover;
  }
}